.mainContentHolder{
  display: grid;
  row-gap: 20px;
}

.contentGridOne{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 16px;
}

.contentGridTwo{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   column-gap: 16px;
 }

 .subgridTwo{
   display: grid;
   row-gap: 20px;
   height: 100%;
 }

 @media screen and (max-width: 1200px){
   .contentGridOne{
     column-gap: 12px;
   }
 }

@media screen and (max-width: 992px){
  .contentGridOne{
    grid-template-columns: repeat(2,1fr);
    row-gap: 12px;
  }
}

@media screen and (max-width: 768px){
  .contentGridOne{
    grid-template-columns: repeat(1,1fr);
  }
}